<div class="heroes-container">
  <div class="hero-form">
    <h2>Hero Management</h2>
    <div class="form-group">
      <label for="name">Hero Name:</label>
      <input 
        id="name" 
        [(ngModel)]="hero.name" 
        placeholder="Enter hero name"
        class="form-input"
      >
    </div>
    <div class="hero-superpower" [(ngModel)]="hero.superpower">
      <h4>Superpower:</h4>
      <div class="hero-superpower-display"></div>
        <input 
            id="superpower" 
            [(ngModel)]="hero.superpower" 
            placeholder="Enter hero's superpower"
            class="form-input"
        >
    </div>
    <div class="hero-display" *ngIf="hero.name">
      <h3>Current Hero: {{hero.name}}</h3>
    </div>
  </div>
  <h2>My Heroes</h2>
    <ul class="heroes">
    @for (hero of heroes; track hero.id) {
    <li>
        <button class="btn btn-primary" type="button" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>
        </button>
    </li>
}
    </ul>
    @if (selectedHero) {
  <div>
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>id: {{selectedHero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
  </div>
}
</div>